<div class="container">
    <strong>PRODUCT LIST :</strong>
    <div class="row" *ngIf="showMsg">
        <div class="col-xs-12">
            <p class="alert alert-success">
                <strong>Product Added</strong>
            </p>
        </div>
    </div>
    <div class="row mt-5">
    
    <div class="row">
        <div class="col-lg-4" *ngFor="let product of products">
        
            <div class="col-md">
                <h6>
                    <a href="#" class="link">{{ product.name }}</a>
                </h6>
                <h5>
                    ${{product.price}}
                </h5>
            </div>
            <div>
                <div>
                    <button class="btn btn-primary btn-block" (click)="addToCart(product._id, 1)">Add to
                        Cart</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
